jest.config.js 
prettierrc.cjs
prettierrc.js
prettierrc.json
.gitignore
.eslintrc.cjs
.eslintrc.js
.eslintrc.mjs
tscconfig.json
vite.config.ts
babe.config.js
jest.config.js
tscconfig.json
vite.config.ts
!src
!src/**